.popUpCon{
  position: fixed;
  width: 98vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp{
  opacity: 1;
  border: 2px solid;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
  background: #CDF6E5;
  text-align: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.popUp div{
  margin: 5vh;
  display: flex;
  flex-direction: column;
  height: 5vh;
  justify-content: space-between;
}
